

<div class="jumbtron">
<div style="background-color:darkslategray;">
  <div  style=" margin-left: 500px;  " class="dropdown">
    <button  class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">---Indicateur----
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <div *ngFor="let indic of  list_Nom_Indicateur">
         
            <li  ><a (click)="getValeurByNomIndicateur(indic)">{{indic}}</a></li>
        </div>     
    </ul>
  </div>

  <hr>
</div>


  <div class="row">
    <div class="col-md-6">
      
      
      <!--(click)="populateForm(emp)"-->
    
    
    <div id="map">
       <!-- <section id="side-panel">

            <p>This proportional symbol map shows the relative magnitude of green house gas emissions in CO in 2015 by large facilites. Data are shown by <span style='color: #bd4932; font-weight: bold;'>fuel combustion</span> and <span style='color: #105b63; font-weight: bold;'> process emissions</span>.
    
            <h3>Metric tons of GHG</h3>
            <div id='legend'>
                <div id="legend-large"></div>
                <div id="legend-small"></div>
                <div id="legend-large-label"></div>
                <div id="legend-small-label"></div>
            </div>
            <p>The data are reported to the EPA and available from their <a href="https://ghgdata.epa.gov/ghgp/main.do">FLIGHT</a> web applicaiton.</p>
            <p>Map authored <a href="https://github.com/rgdonohue">Rich Donohue</a>.</p>
    
        </section>-->
      
      </div>
    </div>
    <div class="col-md-6">

        

        <div  style=" margin-left: 100px;  " class="dropdown">
            <button  class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">---Indicateur----
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <div *ngFor="let indic of  indicateurs_choisis">
                 
                    <li  ><a (click)="putchart(indic)">{{indic}}</a></li>
                </div>     
            </ul>
          </div>
          <p id="solid">No chart to display</p>
        <canvas id="myChart" ></canvas>
       
         <table >
        <tr style="background: darkolivegreen;">
          <th>Commune</th>
          <th>Valeur</th> 
          <th>Annee</th>
        </tr>
        <tr *ngFor="let indic of dictTable" (mouseover)="highlightRow(indic)" (mouseout)="disablehighlightRow(indic)"
        [ngClass] = "{'highlight' : indic.id == selectedId}">
        <td>{{indic.id}}</td>
        <td>[{{indic.valeur}}]</td>
        <!-- <td>[{{indic.annee}}]</td>-->
          
        </tr>
       
      </table>
       
      <!--<table id="myform" >
        <tr style="background: darkolivegreen;">
          <th>Commune</th>
          
        </tr>
        <tr *ngFor="let indic of list_nom_communes">
        <td>{{indic}}</td>
        
          
        </tr>
       
      </table>-->

      <div style="height: 370px; width: 80%;">
<div style="height: 370px; width: 80%;">
      <div id="chartContainer" style="height: 370px; width: 80%;"></div>
    </div> 
  </div>

    </div>
  </div>
</div>
<mat-table [dataSource]="dataSource"  class="mat-elevation-z8" matSort>

    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
  <mat-paginator [length]="dataSource.length" [pageSize]="10" [pageIndex]="0" [pageSizeOptions]="[3,5,10]" showFirstLastButtons></mat-paginator>
 




  
    