


<div style="background-color:darkslategray;">
  <div   class="dropdown">
    <button  class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">---Indicateur----
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <div *ngFor="let indic of  list_Nom_Indicateur">
         
            <li  ><a (click)="getValeurByNomIndicateur(indic)">{{indic}}</a></li>
        </div>     
    </ul>
  </div>

  <div  style=" margin-left: 100px;  " class="dropdown">
    <button  class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">---Niveau géographique----
    </button>
    <ul class="dropdown-menu">  
            <li  ><a (click)="getValeurByNomIndicateur(indic)">Région</a></li>
            <li  ><a (click)="getValeurByNomIndicateur(indic)">Province</a></li>
            <li  ><a (click)="getValeurByNomIndicateur(indic)">Commune</a></li>
          
    </ul>
  </div>

  <hr>
</div>

         
<div class="tpanel"> <div *ngFor="let indic of indicateurs_choisis">
                 
    <input type="checkbox" (change)="toggleEditable($event,indic)" checked>        
    <a (click)="RemoveLayer(indic)">{{indic}}</a>

</div>  </div>           
 


    
        <div  style=" margin-left: 100px;  " class="dropdown">
            <button  class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">---Indicateur----
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <div *ngFor="let indic of indicateurs_choisis">
                 
                    <input type="checkbox" (change)="toggleEditable($event,indic)" checked>        
                    <li  ><a (click)="RemoveLayer(indic)">{{indic}}</a></li>
             
                </div>     
            </ul>
          </div>
     
      <div id="map"></div>

     
    <!--  <div id="sidebar"><button id="toggle">Toggle</button>  -->      
          <div *ngFor="let item of legendData | keyvalue">
           
        <div *ngIf=" !NotlegendData.includes(item.key)">  
                <b>{{item.key}}</b>
                <div *ngIf=" item.value[5]==='brute'">  
    <br>
 
  <br>
     
     
    <div id="outer-circle" [ngStyle]="{'background': item.value[6]}">  <div id="header-content">  {{item.value[4][1]}}</div>   
    <div id="inner-circle"><div id="header-content">{{item.value[4][0]}} </div> </div>
   </div>
   </div>
   <div *ngIf="item.value[5]==='calculable'">  

  <div><i [ngStyle]="{'background': item.value[6][0]}"></i>  {{item.value[0][0]}} &ndash; {{item.value[0][1]}}</div>
  <div><i [ngStyle]="{'background': item.value[6][1]}"></i>  {{item.value[1][0]}} &ndash; {{item.value[1][1]}}</div>
  <div><i [ngStyle]="{'background': item.value[6][2]}"></i>  {{item.value[2][0]}} &ndash; {{item.value[2][1]}}</div>
  <div><i [ngStyle]="{'background': item.value[6][3]}"></i>  {{item.value[3][0]}} &ndash; {{item.value[3][1]}}</div>
  <div><i [ngStyle]="{'background': item.value[6][4]}"></i>  {{item.value[4][0]}} &ndash;  {{item.value[4][1]}}</div> 
   </div>
  </div>



</div>
    
 

      
    
     
 
   <!--  <table >
      <tr *ngFor="let indic of dictTable" (mouseover)="highlightRow(indic)" (mouseout)="disablehighlightRow(indic)"
      [ngClass] = "{'highlight' : indic.id == selectedId}">
      <td>{{indic.id}}</td>
      <td>[{{indic.valeur}}]</td>
      <!-- <td>[{{indic.annee}}]</td>-->
        
    <!-- </tr>
     
    </table>-->
    <div></div>
    <div class="container">
      <div class="row">
          <div class="col-lg-6 col-sm-12 right">
    <mat-table [dataSource]="dataSource"  class="mat-elevation-z8" matSort>

      <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
    <mat-paginator class="pag" [length]="dataSource.length" [pageSize]="5" [pageIndex]="0" [pageSizeOptions]="[3,5,10]" showFirstLastButtons></mat-paginator>
   </div>

   <div class="col-lg-6 col-sm-12 left">
    <div  style=" margin-left: 100px;  " class="dropdown">
      <button  class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">---Indicateur----
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
          <div *ngFor="let indic of  indicateurs_choisis_chart">
           
              <li  ><a (click)="putchart(indic)">{{indic}}</a></li>
          </div>     
      </ul>
    </div>

   
    <p id="solid">No chart to display</p>
    <div id='graph-container'>
    <canvas id="myChart" ></canvas></div>

    </div>

    </div></div>
  







  
