
#sidebar {
  width: 200px;
  height: 300px;
  position: relative;
  left: 0px;
  border: 1px solid;
}
#toggle {
  width: 10%;
  height: 100%;
  float: right;
  margin-right: 0px;
  margin-top: 0px;
 
}




#side-panel {
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 280px;
  margin: 20px auto;
  padding: 0 15px;
  background: rgba(256, 256, 256, .8);
  border: 1px solid grey;
  border-radius: 3px;
  z-index: 800;
}


  #header-content {
    position: absolute;
   left:80px;
    font-size: 11px;
    
  }
  
  .vertical-line {
    width: 50px;
    height: 2px;
    background: #2ecc71;
    margin: 120px auto 0 auto ;
    margin-top:0px;
  }
  #outer-circle {
  
    border-radius: 50%;
    height:100px;
    width:100px;
    border:1px solid red;  
   
  }
  #inner-circle {
    position: relative;
   
    border:1px solid red;    
   
          
    border-radius: 50%;
    height:50px;
    width:50px;
      top:50px;
    margin: 0px 0px 0px 25px;
  }

#solid{
  padding-left: 30%;
 padding-top: 20%;
 
  width:100px;
}
#circle{ background: black; width: 20px; height:20px; border-radius: 50%; padding-left: 20px;  }

.menu_legend
{border-style: outset;
width :100px;

}

i { 
  background: #2ecc71;
  width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.square {
  
  width: 13px;
  height: 13PX;
}

.container {
  width: 95%;
}
.tpanel{
  height:40px;
  background-color: red;
}
#legend {
  position: relative;
  margin: 20px 0;
}
#legend-large, #legend-small {
  border: 2px solid grey;
  border-radius: 50%;
  background: whitesmoke;
  position: absolute;
}
#legend-large-label, #legend-small-label {
  position: absolute;
}
#legend hr.small, #legend hr.large {
  width: 83px;
  position: absolute;
  top: -8px;
  left: 66px;
}

table tr.highlight {
  background-color: #4CAF50 !important;
  color: #ffffff;
}

#map{
    height: 500px;
    width: 80%;
    
}

table, th, td ,tr {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
  }
  th {
    text-align: left;
  }

  table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
   background-color: #fff;
  }
  table#t01 th {
    background-color: black;
    color: white;
  }

 
  
  button {
    margin: 16px 8px;
  }


.pag{ 
 
  overflow-x: auto;}
 